@import '../../styles/base/colorVars';

.timer {
  width: 250px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--module-background-color);
  border-radius: 15px;
}

.timerWithTask {
  width: 400px;
}

.dial {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 100px;
  margin-right: 15px;
}

.circleStatic {
  fill: none;
  stroke: rgba($color: #ffffff, $alpha: 0.5);
  stroke-width: 4;
}

.circleActive {
  fill: none;
  stroke: rgba($color: red, $alpha: 0.7);
  stroke-width: 4;
  transform-origin: center;
  transform: rotate(-90deg);

  &Break {
    stroke: rgba($color: #397097, $alpha: 0.9);
  }
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 26px;
  user-select: none;
}

.task {
  display: flex;
  align-items: center;
  padding: 5px;
  line-height: 1;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.controls {
  display: flex;
  flex-shrink: 0;
  justify-content: flex-end;
}

.timer svg {
  fill: var(--timer-icons-color);
}

.timerButton,
.settingsButton,
.removeTaskButton {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background: none;
  border: none;
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.timerButton {
  margin-left: 10px;
  font-size: 36px;
}

.settingsButton {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.removeTaskButton {
  margin-left: 5px;
  font-size: 14px;

  :hover {
    color: red;
  }
}
