.todoWrapper {
  margin: 15px 0;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 1px solid #555;
  color: #555;
  background-color: #fbfef9;
  user-select: none;
  overflow: hidden;
}

.todo {
  padding: 10px 15px;
  display: flex;
  align-items: center;
  cursor: grab;
}

.todoText {
  flex-grow: 1;
  text-align: left;
}

.todoCompletedText {
  flex-grow: 1;
  text-align: left;
  color: gray;
}

.todoCircleIcon {
  margin-right: 10px;

  &:hover {
    color: green;
  }
}

.todoDeleteIcon {
  &:hover {
    color: red;
  }
}

.todoDeleteIcon,
.todoCircleIcon,
.todoCheckedCircleIcon,
.todoAddToTimerBtn {
  font-size: 1.2rem;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.todoCheckedCircleIcon {
  margin-right: 10px;
  font-size: 1.5rem;
  color: green;
}

.todoAddToTimerBtn {
  margin-right: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba($color: red, $alpha: 0.2);
  color: red;
  border-radius: 50%;
  line-height: 1;
}
.wrapperBtn {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editBtn {
  margin-left: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
  line-height: 1;
  font-size: 1.25rem;
  padding: 0.25rem 0;
  border-radius: 0.25rem;
  cursor: pointer;
  color: #555;
  background: none;
  transition: 0.3s;

  &:hover {
    background: #efefef;
  }
}

.loader,
.loaderDelete {
  border: 5px solid #000000;
  border-top: 5px solid rgb(119, 128, 192);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
}

.loader {
  margin: 3px 18px 0 11px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.noteContainer {
  padding: 0 15px 15px 30px;
}

.noteText {
  padding: 10px 15px;
  font-size: 0.9rem;
  border-radius: 5px;
  background-color: #fbf7f4;
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 0px;
  white-space: pre-wrap;
  word-break: break-word;
}

.stats {
  font-size: 0.9rem;
}

.date {
  margin: 0 10px;
  font-size: 0.9rem;
}

.expiredDate {
  margin: 0 10px;
  font-size: 0.9rem;
  color: red;
}
