.todo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 1.2rem;
  border-radius: 22px;
  border: 1px solid #d6d6d6;
  color: #112d49;
  background-color: white;
  user-select: none;
}

.todoText {
  width: 100%;
  text-align: left;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.todoCompletedText {
  width: 100%;
  text-align: left;
  color: gray;
  text-decoration: line-through;
  display: flex;
  justify-content: space-between;
  margin-right: 30px;
}

.todoCircleIcon {
  margin: 3px 20px 0 10px;

  &:hover {
    color: green;
  }
}

.todoDeleteButton {
  cursor: pointer;
  display: block;
  border: 0px;
  padding: 7px;
  background-color: #eee6e2;
  border-radius: 4px;
  transition: ease-in all 0.1s;
}
.todoDeleteButton:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(185, 185, 185);
}

.todoDeleteIcon,
.todoCircleIcon,
.todoCheckedCircleIcon,
.todoAddToTimerBtn {
  font-size: 1.2rem;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.todoCheckedCircleIcon {
  margin: 3px 20px 0 10px;
  font-size: 1.5rem;
  color: green;
}

.todoAddToTimerBtn {
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba($color: red, $alpha: 0.2);
  color: red;
  border-radius: 50%;
  line-height: 1;
}
