.todo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid #555;
  color: #112d49;
  background-color: #fbfef9;
  user-select: none;
}

.todoText {
  width: 100%;
  text-align: left;
}

.todoCompletedText {
  width: 100%;
  text-align: left;
  color: gray;
  text-decoration: line-through;
}

.todoCircleIcon {
  margin: 3px 20px 0 10px;

  &:hover {
    color: green;
  }
}

.todoDeleteIcon {
  &:hover {
    color: red;
  }
}

.todoDeleteIcon,
.todoCircleIcon,
.todoCheckedCircleIcon,
.todoAddToTimerBtn {
  font-size: 1.2rem;
  transition: 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}

.todoCheckedCircleIcon {
  margin: 3px 20px 0 10px;
  font-size: 1.5rem;
  color: green;
}

.todoAddToTimerBtn {
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba($color: red, $alpha: 0.2);
  color: red;
  border-radius: 50%;
  line-height: 1;
}
.wrapperBtn {
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 4px solid #000000;
  border-top: 5px solid rgb(119, 128, 192);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
  margin: 3px 18px 0 11px;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}