@import './../../../styles/base/colorVars';

.newTask {
  max-width: 1000px;
  margin: 25px auto;
  position: relative;
}

.form {
  .inputWrapper {
    width: 100%;
    height: 40px;
    border-radius: 10px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid transparent;
    cursor: pointer;

    .input {
      border: none;
      background: none;
      width: calc(100% - 24px);
      height: 100%;
      text-indent: 10px;
      outline: 0;
      cursor: pointer;
    }

    .inputAdd {
      margin: 0 15px;
      font-size: 1.2rem;
      color: black;
      cursor: pointer;
    }
  }
}

.pomodoroRange {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.loader{
  border: 5px solid #000000;
  border-top: 5px solid rgb(119, 128, 192);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.5s linear infinite;
  margin: 0 15px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}