.navbarLink {
  display: flex;
  height: 25px;
  align-items: center;
  gap: 15px;
  border-radius: 5px;
  padding: 0px 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.288);
}

svg {
  color: white;
}
