.todo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.2rem;
  border-radius: 5px;
  border: 2px solid #555;
  color: #112d49;
  background-color: #fbfef9;
  user-select: none;
}

.todoText {
  width: 100%;
  text-align: left;
}

.todoCircleIcon {
  margin: 3px 20px 0 10px;

  &:hover {
    color: green;
  }
}

.todoCheckedCircleIcon {
  margin: 3px 20px 0 10px;
  color: green;
}

.todoDeleteIcon {
  &:hover {
    color: red;
  }
}

.todoDeleteIcon,
.todoCircleIcon,
.todoCheckedCircleIcon {
  font-size: 1.2rem;
  transition: 0.2s ease-in;
  cursor: pointer;

  &:hover {
    transform: scale(1.3);
  }
}
