.pomodoroRange {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.icon {
  margin: 0 0 0 10px;
  user-select: none;
  display: block;
  line-height: 1;
}

.input {
  display: block;
  width: 21px;
  margin: 0 5px;
  text-align: center;
  border: none;
  outline: none;
  appearance: none;
  font-size: 20px;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 1rem;
  line-height: 1;
  font-size: 20px;
  cursor: pointer;
  border-radius: 20%;
  background-color: #eee6e2;
  border: 0px;
  transition: ease-in all 0.1s;
}

.button:hover {
  background-color: rgb(185, 185, 185);
}
