@import '../../styles/base/colorVars';
.container {
  margin-bottom: 25px;
  display: flex;
  padding: 15px;
  text-align: center;
  background: var(--module-background-color);
  border-radius: 5px;
  color: var(--main-text-color);
  margin-top: 30px;
}

.item {
  flex: 1 0;
}

.number,
.stat {
  font-size: 1.8rem;
  color: var(--accent-text-color);
}

.text {
  color: var(--main-text-color);
  font-size: 1rem;
}
