html {
  --main-text-color: #555;

  --link-color: #ff0000;
  --link-hover-color: #ff0000a6;
  --button-color: #d22d2d;
  --button-hover-color: #ff0000c5;
  --button-text-color: #ffffff;

  --input-bg-color: white;

  --background-main-color: #fbf7f4;
  --border-color: #dfdbd8;
  --module-background-color: #ffffff;
  --loader-bg-color: #ffffff;
  --loader-color: rgb(156, 7, 7);
  --error-color: rgb(141, 50, 50);

  --fade-text-color: gray;
  --accent-text-color: #d22d2d;

  --timer-icons-color: #3a3a3a;

  --header-border-color: rgb(213 213 213);
  --header-bg-color: white;

  --footer-github-icon-color: #7e0000;

  --hover-box-shadow: 0px 8px 17px 4px rgb(145 145 145 / 20%);
}

html[data-theme='dark'] {
  --main-text-color: #c4c4c4;

  --link-color: #ff2929;
  --link-hover-color: #ff2929a6;
  --button-color: #d22d2d;
  --button-hover-color: #ff0000c5;
  --button-text-color: #ffffff;

  --input-bg-color: #11131e;

  --background-main-color: #494a58;
  --border-color: #2a3542;
  --module-background-color: #1a1c26;
  --loader-bg-color: #ffffff;
  --loader-color: rgb(156, 7, 7);
  --error-color: rgb(141, 50, 50);

  --fade-text-color: gray;
  --accent-text-color: #d22d2d;

  --timer-icons-color: white;

  --header-border-color: rgb(56, 56, 56);
  --header-bg-color: #1a1c26;

  --footer-github-icon-color: white;

  --hover-box-shadow: 0px 11px 16px 4px rgb(0 0 0 / 23%);
}
